@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

/* General styles */
body {
  margin: 0;
  font-family: 'New Rocker', sans-serif;
  background-color: #121212;
  color: #ffffff;
  overflow-x: hidden;
}

/* Made the header container responsive */
.header {
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  z-index: 1;
  padding: 0;
  background-color: black;
}

.header h1 {
  position: absolute;
  color: white;
  font-size: clamp(3rem, 8vw, 6rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

/* Added responsive styles for images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Adjusted header image for better responsiveness */
.header-image {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  object-position: center 33%;
  margin: 0;
  padding: 0;
  display: block;
}

/* Main content styles */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  padding: 10px;
  overflow: hidden;
}

/* Table styles */
.players-table {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #1e1e1e;
  border-radius: 10px;
}

.players-table th, .players-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #333;
}

.players-table th {
  background-color: #333;
  color: #fff;
  font-size: 1.5rem;
}

.players-table td {
  font-size: 1.3rem;
}

.players-table tr:nth-child(even) {
  background-color: #2a2a2a;
}

/* Tooltip styles */
.tooltip {
  position: fixed;
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  max-width: 300px;
  transform: translateY(-50%);
}

.tooltip h4 {
  margin: 0 0 10px;
  font-size: 16px;
}

.tooltip table {
  width: 100%;
  border-collapse: collapse;
}

.tooltip th, .tooltip td {
  padding: 5px;
  text-align: center;
  border: 1px solid #333;
}

.tooltip th {
  background-color: #333;
  color: #fff;
}

/* Add colors for percentage values */
.tooltip td.victory {
  color: green;
}

.tooltip td.draw {
  color: yellow;
}

.tooltip td.defeat {
  color: red;
}

/* Adjust tooltip position dynamically */
.tooltip[data-position="top"] {
  transform: translateY(-100%);
}

.tooltip[data-position="bottom"] {
  transform: translateY(0);
}

/* Responsive styles */
@media (max-width: 768px) {
  .players-table {
    font-size: 12px;
  }

  .tooltip {
    font-size: 12px;
  }
}

.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
